---
import BaseLayout from "../layouts/BaseLayout.astro";
import { siteConfig } from "../config/site";
import Hero from "../components/widgets/Hero.astro";
import Features from "../components/widgets/Features.astro";

const metadata = {
	title: `${siteConfig.name} — The next step for your project`,
	description:
		"A modern and professional template for your web projects with Astro and Tailwind CSS. Boost your development with a solid foundation.",
	ignoreTitleTemplate: true,
};
---

<BaseLayout {metadata}>
	<Hero
		title={`Reliable Home <br class="hidden md:block" /> <span class="bg-linear-to-r from-blue-400 via-purple-400 to-pink-400 bg-clip-text text-transparent">Appliance Services</span>`}
		
		description={`${siteConfig.description}`}
		actions={[
			{
				text: "Contact Us Today",
				href: "/contact",
				variant: "primary",
				icon: "lucide:phone",
			},
			{
				text: "Our Services",
				href: "/services",
				variant: "secondary",
				icon: "lucide:arrow-right",
				ariaLabel: "Learn more about our services",
			},
		]}
	/>


	<Features
		tagline=""
		title="Why Chose Us"
		subtitle="Service Highlights"
		features={[
			{
				title: "Appliance Installation",
				description:
					"Bought a new appliance? In need of an instalation, we are one phone call away.",
				icon: "lucide:toolbox",
				iconClass: "bg-blue-500/10 text-blue-400",
			},
			{
				title: "Appliance Repair",
				description: "Issues with your applaince? With our expereinced technitions, we can diagnose the problem quickly and give you same day quote. ",
				icon: "lucide:toolbox",
				iconClass: "bg-purple-500/10 text-purple-400",
			},
			{
				title: "Flexible Scheduling",
				description:
					"Applaince failed in the morning, or you come home to a failed appliance. No problem we will be there within the hour.",
				icon: "lucide:clock",
				iconClass: "bg-pink-500/10 text-pink-400",
			},
		]}
	/>
	</Content2>
</BaseLayout>
